{{#link-to 'article-detail' article.id}}<div class="well">
  <img src={{article.image}} class="img-responsive">
  {{article.title}}
  {{preview article.body}}
  {{article.author}}
  {{moment-to-now article.timestamp date}}
</div>
{{/link-to}}
