{{#link-to 'article-detail' article.id}}
<div class="well col-sm-4">
  <img src={{article.image}} class="img-responsive">
  {{article.title}}
  {{article.body}}
  {{article.author}}
  {{article.timestamp}}
</div>
{{/link-to}}
